<h1>Edit Review</h1>
<%= simple_form_for([@movie, @review]) do |form| %>
  <div id="rating-form">
    <label>Rating</label>
  </div>
  <!-- <%= form.input :rating %> -->
  <%= form.input :comment %>
  <%= form.button :submit %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
